<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui_dialog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".T5Activity"></activity>
        <activity android:name=".T4Activity" />
        <activity android:name=".T3Activity" />
        <activity android:name=".T2Activity" />
        <activity android:name=".T1Activity" />
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DPDCActivity" />
        <activity android:name=".WASAActivity" />
        <activity android:name=".success" />
        <activity android:name=".Confirmation" />
        <activity android:name=".Balance" />
        <activity android:name=".UtilityBills" />
        <activity android:name=".Alert" />
        <activity android:name=".SuccessActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>